:root {
    --font-color-light: #fcfdfd;
    --font-color-dark: #707174;
    --bkg-color-light: #1f2024;
    --bkg-color-dark:  #080b11;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {    
    color: var(--font-color-light);    
    font-size: 1em;
    font-family: sans-serif, Tahoma;
}

.front-page {    
    height: 100vh; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(-45deg, var(--bkg-color-dark) 0%, var(--bkg-color-dark) 45%, var(--bkg-color-light) 55%, var(--bkg-color-light) 100%);
}

.front-page h1 {
    font-size: 6rem;
}

.front-page h2 {
    font-size: 1.5rem;
    color: var(--font-color-dark)
}

.front-page h4 {
    font-size: 0.8rem;
    color: var(--font-color-dark);
    padding-top: 5px;
}

.header ul li {
    list-style: none;
    padding: 0px 15px;
}

.header {
    position: fixed;
    right: 0;
}
.header ul li a {
    text-decoration: none;
    color: var(--font-color-dark);
    font-size: 0.9em;
    display: inline-block;
    padding: 10px 5px;
}

.header ul li a:hover, a:visited {
    color: var(--font-color-light);
}

.header ul li a.active::after{
    content: '';
    border-bottom: 2px solid var(--font-color-dark);
    display: block;
    margin-top: 10px;
    animation: menu-active; 
    animation-duration: 0.4s;
} 

@keyframes menu-active{
    from {width: 0%;}
    to {width: 100%;}
}

.projects{
    height: 100vh; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

.project .left-side {
    background-color: var(--bkg-color-dark);
    width: 30%;
}

.project .right-side {
    background-color: var(--bkg-color-light);
}

